<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.TUserMapper">
	<insert id="insert">
		insert into T_USER (userid,username) values(#{userid,
		jdbcType=VARCHAR},#{username, jdbcType=VARCHAR})
	</insert>
	<select id="selectByPrimaryKey"
		resultType="com.example.demo.dao.entity.TUser">
		SELECT * FROM T_USER WHERE USERID=#{userid};
	</select>
</mapper>